// Context menu colors
$color-context_menu-bg: #383a35;
$color-context_menu-bg-hover: #d3f0fe;
$color-context_menu-text: #e7e8e5;
$color-context_menu-text-hover: #383a35;

// Session colors
$color-session-bg: #4b4d46;
$color-session-border: #161614;

// Track colors
 $color-track-border: #2c2e2a;
 $color-track-selected: #63665d;
 $color-track-cell-selected: #d3f0fe;
 $color-track-cell-lighting: #8e9f9d;

 
