* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button, input {
  background-color: transparent;
  border: none;
  outline: none;
}

input {
  padding: 0;
  font: inherit;
}